.home{
  // background-color: #f70;
  .user{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 40px;
    }
    &info{
      .name{
        font-size: 32px;
        margin-bottom: 10px;
      }
      .access{
        color:#999
      }
    }
  }
  .login-info{
    p{
      font-size: 14px;
      color:#999;
      line-height:28px;
      span{
        color:#666;
        margin-left: 100px;
      }
    }
  }
  .num{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .el-card{
      width: 32%;
      margin-bottom: 15px;
      .icon{
        height: 80px;
        width: 80px;
        font-size: 50px;
        text-align: center;
        line-height: 80px;
        color: #fff;
      }
      .detail{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .num{
          font-size: 18px;
          margin-bottom: 5px;
        }
        .txt{
          font-size: 14px;
          color:#999;
        }
      }
    }
    
  }
  .graph{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .el-card{
      width: 49%;
    }
  }
}